* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tema geral */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    transition: 0.3s;
}

body.dark-mode {
    background-color: #1a1a1a;
    color: white;
}

/* Cabeçalho */
header {
    background: white;
    border-bottom: 2px solid black;
    padding: 15px 0;
}

header.dark-mode {
    background: #111;
}

nav.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav.menu button {
    border: none;
    background: #7c3aed;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

nav.menu button:hover {
    background: #6d28d9;
}

/* Controle de páginas */
.pagina {
    display: none;
    padding: 40px 20px;
}

.pagina.ativa {
    display: block;
}

/* Início */
.banner {
    text-align: center;
    margin-bottom: 30px;
}

.banner h1 {
    font-size: 45px;
    font-family: cursive;
}

.carrossel-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

/* Carrossel */
#carrossel {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide.ativa {
    opacity: 1;
    transform: translateX(0);
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Botões */
#voltar, #avancar {
    margin: 20px 10px;
    background: #7c3aed;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

#voltar:hover, #avancar:hover {
    background: #6d28d9;
}

/* Comentários */
.lista-comentarios {
    max-width: 700px;
    margin: 20px auto;
}

.comentario {
    background: #e5e7eb;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    color: #111;
}

.formulario-comentario {
    max-width: 700px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#texto-comentario {
    width: 100%;
    height: 120px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #7c3aed;
}

.formulario-comentario button {
    padding: 12px;
    background: #7c3aed;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.formulario-comentario button:hover {
    background: #6d28d9;
}

/* Login */
.login-area {
    max-width: 400px;
    margin: 50px auto;
    padding: 35px;
    border-radius: 20px;
    background: #e5e7eb;
}

.login-area form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-area input {
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #7c3aed;
}
